<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavScrreens"
        tools:targetApi="31">
        <activity
            android:name=".AddMedRecordSuccessful"
            android:exported="false" />
        <activity
            android:name=".ViewMedRecords"
            android:exported="false" />
        <activity
            android:name=".AddMedRecords"
            android:exported="true" />
        <activity
            android:name=".CancelSuccessful"
            android:exported="false" />
        <activity
            android:name=".ViewAllAppt"
            android:exported="false" />
        <activity
            android:name=".ViewAppt"
            android:exported="false" />
        <activity
            android:name=".Cancel"
            android:exported="false" />
        <activity
            android:name=".BookingSuccessful"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false" />
        <activity
            android:name=".HomeScreen2"
            android:exported="false" />
        <activity
            android:name=".ClinicAdminLogin"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".HomScreen1"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>