<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urgency</title>
</head>
<body>
    <h1>How urgent is the safety issue :</h1>
    <form method="POST">
        <input type="radio" name="options" value="Extremely urgent "> Extremely urgent <br>
        <input type="radio" name="options" value="Urgent"> Urgent<br>
        <input type="radio" name="options" value="Neutral "> Neutral<br>
        <input type="radio" name="options" value="Not that urgent "> Not that urgent <br>
        <input type="radio" name="options" value="Not urgent "> Not urgent <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>